{% extends '_base.html' %}

{% block content %}
  <a href="{% url 'home' %}" >
    <h1 class="mb-5">Dashboard</h1>
  </a>
  <div class="h-20 w-fill border-1 grid grid-cols-24 group hover:border-orange-600">
    <!-- Left Corners -->
    <div class=" p-1 col-span-1 grid grid-rows-12 motion-preset-blur-down group-hover:motion-preset-blink motion-loop-once">
      <div class="row-span-2 border-white  group-hover:border-orange-600 border-l border-t"></div>
      <div class="row-span-8"></div>
      <div class="row-span-2 border-white group-hover:border-orange-600 border-l border-b"></div>
    </div>

    <!-- main content area -->
    <div id="body" class="col-span-22 flex items-center justify-center">
      <p class="text-6xl group-hover:text-orange-600 text-center cursor-grab">START</p>
    </div> 

    <!-- right Corners -->
    <div class="p-1 col-span-1 grid grid-rows-12 motion-preset-blur-down group-hover:motion-preset-blink motion-loop-once">
      <div class="row-span-2 border-white group-hover:border-orange-600 border-r border-t"></div>
      <div class="row-span-8"></div>
      <div class="row-span-2 border-white group-hover:border-orange-600 border-r border-b"></div>
    </div>
    
  </div>
{% endblock content %}
  